* {
  box-sizing: border-box;
}

body {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* header CSS */

header {
  display: flex;
  align-items: center;
}

header span {
  font-size: 13px;
  letter-spacing: -0.06em;
}

header span::before {
  content: '|';
  margin-left: 6px;
  margin-right: 6px;
}

/* 오늘의 발견 메인 CSS */
.inner {
  border: 1px solid lightgray;
}

.inner-box,
.inner-box-second,
.inner-box-third {
  display: flex;
  align-items: center;
}

.inner-box-second,
.inner-box-third {
  justify-content: space-around;
}

.inner-box > a,
.inner-box-second > a,
.inner-box-third > a {
  position: relative;
  border: 1px solid lightgray;
  display: inline-block;
  height: 300px;
  margin: 15px 10px;
  transition: 0.5s;
}

.inner-box > a,
.inner-box-second > a {
  margin-bottom: 0;
}

.inner-box > a {
  width: 480px;
}

.inner-box-second > a {
  width: 230px;
}

.inner-box-third > a:first-child {
  width: 480px;
  height: 300px;
}
.inner-box-third > a:first-child > img {
  width: 100%;
  height: 100%;
}

/* hover CSS */

.inner-box > a:hover,
.inner-box-second > a:hover,
.inner-box-third > a:hover {
  border: 1px solid #558bf0;
}

.inner-box > a:hover button,
.inner-box-second > a:hover button,
.inner-box-third > a:hover button {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #558bf0;
  opacity: 1;
}

.inner-box > a:hover button > span,
.inner-box-second > a:hover button > span,
.inner-box-third > a:hover button > span {
  display: block;
  color: #fff;
  margin-right: 3px;
  font-size: 12px;
}

.inner-box > a:hover button > img,
.inner-box-second > a:hover button > img,
.inner-box-third > a:hover button > img {
  margin-top: 2px;
}

/*  button CSS */

button {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #7e7d7d;
  opacity: 0.6;
  cursor: pointer;
}

button > span {
  display: none;
  width: 100%;
}

button > img {
  height: 13px;
  margin-top: 5px;
}
